@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;800;900&display=swap');

:root {
    --main-txt-color: rgba(36, 46, 66, 0.7);
    --alt-txt-color: rgba(28, 47, 85, 0.7);
    --xtra-color: #0065FC;
    --alt-xtra-color: #99c2ff;
    --main-bg-color: hsl(0, 0%, 99%);
    --xtra-bg-color: #F2F2F2;
    --xtra-light-color: #DEEBFF;
    --alt-light-color: #f2f2f3;
    --dark-color: #242e42;
    --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05), 0 2px 4px -1px rgba(0, 0, 0, 0.05);
    --box-shadow-hover: 0 4px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.025);
}

* {
    margin: 0;
    padding: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    letter-spacing: -0.02em;
    line-height: 1.5rem;
    color: var(--alt-txt-color);
    scroll-behavior: smooth;
}

body {
    /* display: -webkit-flex;
    display: flex;
    flex-direction: column; */
    background-color: var(--main-bg-color);
    color: var(--alt-txt-color);
}

main {
    padding: 40px;
}

a {
    color: var(--xtra-color);
}

a,
button {
    text-decoration: none;
    cursor: pointer;
    opacity: .9;
    color: var(--alt-txt-color);
}

h2 {
    font-size: 22px;
    margin-top: 6px;
    margin-bottom: 22px;
}

li {
    list-style: none;
}

img {
    overflow: auto;
}

.navContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.navContainer ul {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navContainer ul li {
    margin-right: 66px;
}

.filtersContainer,
.filtersContainer ul {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.filtrTitle {
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.filtr {
    margin: 0 10px;
}

.filtersContainer ul li button {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 16px 0 0;
    font-weight: bold;
}

button {
    margin: 28px;
    border: solid 3px var(--xtra-bg-color);
    border-radius: 28px;
    background: white;
    cursor: pointer;
    font-size: 18px;
}

/* search bar icon circle */
.filter li a span {
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.5em;
    border-radius: 50%;
    background: var(--xtra-light-color);
    margin: 0 14px 0 0;
}

.filter li a span:after {
    content: '';
    padding-bottom: 100%;
}

/* ------ end ------ */

.resultContainer {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.sectionResult,
.asideResult {
    padding: 37px;
    border-radius: 18px;
    background: var(--alt-light-color);
}

.activityContainer {
    padding-top: 37px;
}

.mainResult {
    align-self: start;
}

.cardsContainer {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
}

.asideResult {
    margin-left: 38px;
    align-self: start;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.asideResult .title {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.asideResult .title h3 {
    margin-left: 0;
}

.card {
    display: -webkit-flex;
    display: flex;
    width: 247px;
    border-radius: 18px;
    background: var(--main-bg-color);
    overflow: hidden;
    box-shadow: var(--box-shadow);
    border: solid 6px var(--main-bg-color);
    margin: 0;
    padding: 0;
    opacity: .9;
}

.card h3 {
    font-size: 17px;
    margin-top: 5px;
    margin-left: 14px;
}

.mainResult .card a {
    width: 247px;
}

.asideResult .card {
    width: 340px;
    height: 140px;
    flex-direction: row;
}

.asideResult .card .txt {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.masonryContainer {
    display: grid;
    gap: 40px;
}

.masonryContainer .card h3 {
    margin-top: 15px;
}

.masonryContainer a figure figcaption h3 {
    margin-bottom: 15px;
}

.card .txt {
    margin: 0 14px;
}

.fa-ico {
    height: 18px;
}

.star {
    margin: 0 -1.2px;
    padding: 0;
    height: 14px;
}

.chart {
    margin-top: 6px;
    height: 24px;
}

.filter a {
    color: var(--alt-txt-color);
}

.activityContainer h2 {
    margin: 20px 0 -12px;

}

.card h3,
.card p {
    color: var(--alt-txt-color);
}

.card span {
    color: var(--xtra-color);
}

.masonryContainer .card h3 {
    margin-left: 20px;
}

.masonryContainer .card {
    border: none;
    width: 300px;
}

.masonryContainer .col1 {
    grid-column: 1/2;
    grid-row: 2/6;
}

.masonryContainer .col2 {
    grid-column: 2/3;
    grid-row: 2/4;
}

.masonryContainer .col3 {
    grid-column: 2/3;
    grid-row: 4/6;
}

.masonryContainer .col4 {
    grid-column: 3/4;
    grid-row: 2/6;
}

.masonryContainer .col5 {
    grid-column: 4/5;
    grid-row: 2/3;
}

.masonryContainer .col6 {
    grid-column: 4/5;
    grid-row: 3/6;
}

footer {
    padding: 44px;
    width: 100vw;
    background: var(--alt-light-color);
    margin-top: 12px;
}

.footerContainer {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.column {
    margin-right: 230px;
    line-height: 2.1rem;
}

/* hover */
.card:hover,
button:hover {
    background: white;
    box-shadow: var(--box-shadow-hover);
    border-color: white;
}

.card:hover,
a:hover,
button:hover {
    opacity: 1;
    transform: scale(1.01);
    transition: all .35s cubic-bezier(.25, .45, .45, .95);
    color: var(--xtra-color);
}