@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,800;1,400&display=swap');

/* ---- reset & common styles ---- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    color: black;
    scroll-behavior: smooth;
}

body, ul, h1, h2, h3, p, button, div, a, a:visited, a:hover {
    text-decoration: none;
}

main {
    margin: 0 auto;
}
/* ---- end reset & common styles ---- */

/* ---- basic HTML elements ---- */
h1, h2 {
    font-size: 1.33rem;
}

h3 {
    font-size: 1.125rem;
}

a, button, .card {
    color: black;
    transform: scale(1);
    transition: all .5s cubic-bezier(.25, .45, .45, .95)
}

li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    overflow: auto;
    image-rendering: auto;
}

button {
    background: white;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

figcaption {
    width: 95%;
}
/* ---- end basic HTML elements ---- */

/* ---- flex center ---- */
.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    align-items: center;
}
/* ---- end flex center ---- */

/* ---- placeholder img & icons width & height ---- */
.header__topbar img {
    width: 95px;
    height: 45px;
}

.fa-ico {
    width: 20.8px;
}

.map-marker, .search, .money-bill-wave, .heart, .dog {
    height: 1.125rem;
}

.map-marker, .search {
    width: 3.125rem;
}

.money-bill-wave {
    width: 1.4375rem;
}

.child {
    width: 0.875rem;
    height: 1.125rem;
}

.heart {
    width: 1.125rem;
}

.dog {
    width: 1.25rem;
}

.info__icon {
    width: 0.3125rem;
    height: 0.75rem;
}

.star, .star-o {
    display: inline-block;
    margin: 0 -0.1875rem;
    padding: 0;
    width: 0.9375rem;
    height: 0.6875rem;
}

.chart {
    margin-top: 0.375rem;
    height: 1.3rem;
}

.pop-1, .pop-2, .pop-3 {
    width: 5.375rem;
    height: 8.3125rem;
}

#rooms figure img {
    width: max-content;
    height: 7rem;
}

.masonry img {
    max-width: 333px;
    max-height: 100%;
}
/* ---- end placeholder img & icons width & height ---- */

/* ---- header ---- */
.header__topbar {
    margin: 28px 20px 20px;
    display: flex;
    justify-content: space-between;
}

.nav__subscription {
    margin-top: 0.8rem;
    font-weight: 800;
    color: #0065fc;
}

nav {
    display: flex;
}

nav a {
    text-align: center;
    width: 50%;
    padding-bottom: 0.5rem;
    font-weight: 500;
    border-bottom: 3px solid #efeff0;
}

nav a:hover {
    border-bottom-color: #0065fc;
    color: #0065fc;
}

.lg {
    display: none;
}

.header__title {
    margin: 14px 0;
    padding: 20px;
}

.header__title h1 {
    margin-bottom: 15px;
}
/* ---- end header ---- */

/* ---- search__section ----- */
.search__section {
    padding: 0 20px;
}

    /* ---- search__bar ---- */
    form {
        flex-direction: row;
        justify-content: space-between;
        width: 20.9375rem;
        max-width: 26.25rem;
        height: 3.375rem;
        background: white;
        border: solid 0.125rem #f2f2f2;
        border-radius: 1.25rem;
    }

    form img {
        min-width: 3.125rem;
    }

    form input {
        width: 12.1875rem;
        font-size: 1.125rem;
        font-weight: bold;
        border: none;
        opacity: .8;
    }

    .search__btn {
        min-height: 3.125rem;
        min-width: 8.125rem;
        margin: 0;
        padding: 0;
        color: white;
        background: #0065fc;
        border-radius: 0 1.125rem 1.125rem 0;
    }

    .btn.sm, form span {
        min-height: 3.125rem;
        min-width: 3.125rem;
        background: #f2f2f2;
        border-radius: 1.125rem 0 0 1.125rem;
    }

    .btn.sm {
        display: flex;
        background: #0065fc;
        border-radius: 1.125rem;
        cursor: pointer;
    }

    #search__input {
        width: 62%;
    }

    ::placeholder {
        font-style: italic;
        opacity: .4;
    }

    #search__input:focus-visible::placeholder {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }

    #search__input:focus-visible {
        outline: none;
        background: #deebff;
    }
        
    #search__input:focus-within {
        box-shadow: 0 0 0 4px #deebff;
    }
    /* ---- end search__bar ---- */

    /* ---- filter ---- */
    .search__filter {
        margin: 0.625rem 0 0;
    }

    .search__filter, .search__filter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .search__filter h2 {
        margin: 0;
        padding: 0;
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
    }

    .search__filter ul {
        margin: 0;
    }

    .search__filter li {
        margin-right: 0.625rem;
        margin-bottom: 0.625rem;
    }

    .search__filter button {
        flex-direction: row;
        margin: 0;
        padding: 0 1rem 0 0;
        font-weight: bold;
        border: solid 0.1875rem #f2f2f2;
        border-radius: 1.75rem;
    }

    .search__filter a {
        color: black;
    }
    
    .search__filter span {
        min-width: 2.97rem;
    }
    /* ---- end filter ---- */

    /* ---- search bar icons circle ---- */
    .search__filter span,
    .info__icon__container {
        max-width: 100%;
        border-radius: 50%;
    }

    .search__filter span {
        min-width: 2.75rem;
        margin: 0 0.625rem 0 0;
        background: #deebff;
    }

    .info__icon__container {
        min-width: 1.7rem;
        border: 0.125rem solid hsl(240, 4%, 94%);
    }

    .search__filter span::after, .info__icon__container::after {
        content: '';
        padding-bottom: 100%;
    }
    /* ---- end search bar icons circle ---- */
    
    /* ---- hover ---- */
    .search__filter button:hover {
        background: white;
        border-color: white;
        box-shadow: 0 0.25rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.025);
    }
    
    .search__filter button:hover {
        color: #0065fc;
        opacity: 1;
        transform: scale(1.01);
        transition: all .3s cubic-bezier(.25, .45, .45, .95);
    }
    /* ---- end hover ---- */
/* end search__section */

/* ---- search result section ---- */
    /* ---- result__info ---- */
    .result__info {
        padding: 20px;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
        font-size: 1.125rem;
    }

    .info__icon__container {
        flex-direction: row;
    }

    .info__icon {
        height: 0.75rem;
    }

    .result__info p {
        width: 88.2%;
        margin-left: 10px;
        font-size: 1rem;
        letter-spacing: -0.005rem;
    }
    /* -- end result__info -- */

    /* ---- result global sections ---- */
    .result__rooms__and__popular__container {
        display: grid;
    }

    .rooms__section, .popular__section {
        padding: 1.125rem;
        border-radius: 0;
    }

    .rooms__section, .popular__section {
        background: hsl(240, 4%, 94%);
    }

    .popular__title, .rooms__card__content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* ---- end result global sections ---- */

    /* ---- cards ---- */
    .card {
        display: flex;
        background: white;
        border: solid 0.313rem white;
        border-radius: 1.125rem;
        box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(0, 0, 0, 0.05), 0 0.125rem 0.5rem 0.25rem rgba(0, 0, 0, 0.05);
        overflow: hidden;
    }

    .card h3 {
        font-size: 1rem;
    }

    .card p {
        margin-top: 0.125rem;
        font-size: .9rem;
    }

    .card span {
        position: absolute;
        bottom: 0.125rem;
        color: #0065fc;
    }

    .card__txt, .rooms__card__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    /* ---- end cards ---- */

    /* ---- rooms cards ---- */
    .rooms__cards__container {
        flex-wrap: wrap;
        gap: 0.625rem;
    }

    .rooms__section {
        grid-row-start: 2;
        margin-top: 0.9rem;
        background: white;
    }

    .rooms__card {
        min-width: 212px;
        flex: 1 0 31.3%;
        height: 12.375rem;
    }

    .rooms__section h2, .result__activity__section h2 {
        margin-bottom: 16px;
    }

    .rooms__section h3 {
        margin-top: 1.75rem;
    }

    .rooms__card h3 {
        margin-top: 0.3125rem;
    }

    .rooms__card figcaption {
        margin-left: 0.875rem;
    }

    .rooms__card p {
        line-height: 0.875rem;
    }

    .rooms__card__content {
        margin: 0 0.875rem;
    }
    /* ---- end rooms cards ---- */

    /* ---- popular section ---- */
    .popular__section {
        grid-row-start: 1;
        margin: 0.625rem 0 0 0;
    }

    .popular__section h2 {
        margin-bottom: 1.5rem;
    }

    .popular__card__txt h3 {
        margin-left: 0;
        line-height: 1.125rem;
    }

    .popular__section figure img {
        width: 7.8125rem;
        height: 8.3125rem;
    }

    .popular__card__content {
        position: absolute;
        height: 100%;
        left: 9rem;
        padding-top: 0.5625rem;
    }

    .popular__card {
        max-width: 370px;
        flex: 1 0 294px;
        overflow: hidden;
    }

    .popular__cards__container {
        flex-wrap: wrap;
        gap: 0.625rem;
    }
    /* ---- end popular section ---- */
/* end search result section */

/* ---- activity section ---- */
.result__activity__section {
    margin-top: 14px;
    padding: 1.125rem;
}

.result__activity__section h2 {
    margin-bottom: 25px;
}

.activity__masonry__container , .masonry__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
}

.masonry__box .card {
    border: none;
}

.masonry {
    display: flex;
	flex-direction: column;
    row-gap: 22px;
}

.masonry figure {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: auto;
    min-width: 333px;
}

.masonry h3 {
    height: 55px;
    padding: 18px;
}

.masonry img {
    min-width: 100%;
    min-height: 100%;
}

.activ__fig-1, .activ__fig-4 {
    height: 385px;
}

.activ__fig-2 {
    height: 180px;
}

.activ__fig-3 {
    height: 108px;
}

.activ__fig-5 {
    height: 138px;
}

.activ__fig-6 {
    height: 150px;
}
/* ---- end activity section ---- */

/* ---- footer ---- */
footer {
    width: 100vw;
    min-width: 23.4375rem;
    margin-top: 0.375rem;
    padding: 10% 8%;
    background: #efeff0;
}

.footer__container h3 {
    margin-bottom: 2%;
}

.footer__column {
    margin-right: 0;
    padding-bottom: 6%;
    line-height: 1.9rem;
}

.footer__column:nth-child(2) {
    margin-top: 8px;
}

.footer__column:nth-child(3) {
    margin-top: 20px;
}

.footer__column a:hover {
    color: #0065fc;
}
/* ---- end footer ---- */

/* ---- from mobile landscape to desktop (max-width 1440px) ---- */
@media (min-width:568px) {
    main {
        max-width: 1440px;
        padding: 50px 50px 44px;
    }

    .sm, .btn.sm {
        display: none;
    }

    .lg, .btn.lg {
        display: inline;
    }

    /* ---- header ---- */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .header__topbar {
        margin: 0;
    }

    .header__navbar {
        display: flex;
    }

    nav {
        display: block;
        height: auto;
    }

    nav a {
        display: inline;
        text-align: center;
        padding: 50px 31px 0;
        border-bottom: hidden;
        border-top: 3px solid #efeff0;
    }

    nav a:hover {
        border-color: #0065fc;
    }

    .nav__subscription.lg {
        margin: 0 0 0 31px;
    }

    .header__title {
        margin: 20px 0 0;
        padding: 20px 0 15px 0;
    }

    .header__title h1 {
        margin-bottom: 3px;
    }
    /* ---- end header ---- */

    /* ---- search__section ---- */
    .search__section {
        padding: 0;
    }

    form {
        width: auto;
    }

    #search__input {
        width: 50%;
    }

    .search__btn {
        margin: 0;
        padding: 0;
        color: white;
        background: #0065fc;
        min-height: 50px;
        min-width: 130px;
        border-radius: 0 20px 20px 0;
    }
    /* ---- end search__section ---- */

    /* ---- filter section ---- */    
    .search__filter li {
        margin-bottom: auto;
    }

    .search__filter {
        margin-left: 8px;
    }
    
    .search__filter,
    .search__filter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .search__filter h2 {
        margin: 0 4px 0 0;
        font-size: 1.125rem;
    }

    .search__filter ul {
        margin: 0 0.625rem;
    }

    .search__filter span {
        margin: 0 24px 0 0;
    }

    .search__filter button {
        border: solid 0.1875rem #f2f2f2;
        border-radius: 1.75rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 24px 0 0;
        font-weight: bold;
        margin: 16px 6px;
    }
    /* ---- end filter section ---- */

    /* ---- search result section ---- */
    .search__result {
        padding: 16px 0;
    }

    .result__info {
        padding: 0 0 20px;
    }

    .result__rooms__and__popular__container {
        column-gap: 32px;
    }

    .rooms__section, .popular__section, .activity__section {
        border-radius: 18px;
        padding: 38px;
    }

        /* ---- rooms section ---- */
        #rooms {
            margin-top: 10px;
            background: #efeff0;
        }

        #rooms > h3:nth-child(3) {
            margin-top: 36px;
        }

        .rooms__section h2 {
            margin-bottom: 24px;
        }
        
        .rooms__cards__container, .popular__cards__container {
            gap: 1.5rem;
        }
        /* ---- end rooms section ---- */
        
        /* ---- end popular section ---- */
        .popular__section {
            margin-top: 0.625rem;
        }

        .popular__title {
            width: auto;
        }
        
        .popular__section h2 {
            margin-left: 0;
        }
        /* ---- end popular section ---- */

        /* ---- activity section ---- */
        .result__activity__section {
            padding: 5%;
            background: #efeff0;;
            border-radius: 20px;
            margin-top: 4%;
        }

        .result__activity__section h2 {
            margin: 0 5% 5%;
        }

        .activ__fig-1 img, .activ__fig-4 img {
            min-width: 220%;
            height: 385px;
        }

        .activity__masonry__container , .masonry__box {
            gap: 42px;
        }
        
        .masonry {
            row-gap: 43px;
        }

        .masonry figure {
            min-width: 55vw;
        }
        /* ---- end activity section ---- */
    /* ---- end result__section ---- */

    /* ---- footer ---- */
    footer {
        padding: 40px 50px;
    }
    
    .footer__container {
        display: flex;
        flex-direction: row;
        column-count: 3;
        gap: 6%;
    }
    
    .footer__column {
        margin-bottom: 1%;
        min-width: max-content;
        line-height: 2.1rem;
    }

    .footer__column:nth-child(2), .footer__column:nth-child(3) {
        margin-top: 0;
    }
    /* ---- end footer ---- */
}

@media (min-width:895px) {
    .masonry figure {
        min-width: 37vw;
    }

    div.masonry__box:nth-child(2) {
        flex-direction: row-reverse;
    }

    .footer__container {
        gap: 18%;
    }
}

@media (min-width:1280px) {
    .result__rooms__and__popular__container {
        grid-template-columns: 3fr 1fr;
        column-gap: 2.5rem;
    }

    .popular__section {
        grid-row-start: 2;
        min-width: 26rem;
    }

    .masonry figure {
        min-width: 33vw;
    }

    .footer__column:nth-child(3) {
        margin-left: 90px;
    }
}

@media (min-width:1440px) {
        /* ---- activity section ---- */
        .result__activity__section {
            padding: 0;
            background: none;
            margin-top: 0;
        }
        .result__activity__section h2 {
            margin: 65px 0 25px;
        }
        .masonry figure {
            width: 303px;
            min-width: 100%;
        }

        div.masonry__box:nth-child(2) {
            flex-direction: row;
        }

        .footer__container {
            gap: 300px;
        }
    /* ---- end activity section ---- */
}
