@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,800;1,400&display=swap');

/* ---- reset & common styles ---- */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    color: black;
    scroll-behavior: smooth;
}

body, ul, h1, h2, h3, p, button, div, a, a:visited, a:hover {
    text-decoration: none;
}
/* ---- end reset & common styles ---- */

/* ---- basic HTML elements ---- */
h1, h2 {
    font-size: 1.33rem;
}

h3 {
    font-size: 1.125rem;
}

a, button, .card {
    cursor: pointer;
    color: black;
    transform: scale(1);
    transition: all .5s cubic-bezier(.25, .45, .45, .95)
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    overflow: auto;
}

button {
    margin: 1.75rem;
    background: white;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

figcaption {
    width: 95%;
}
/* ---- end basic HTML elements ---- */

/* ---- flex center ---- */
.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    align-items: center;
}
/* ---- end flex center ---- */

/* ---- placeholder img & icons width & height ---- */
.map-marker, .search, .money-bill-wave, .heart, .dog {
    height: 1.125rem;
}

.map-marker, .search {
    width: 3.125rem;
}

.money-bill-wave {
    width: 1.4375rem;
}

.child {
    width: 0.875rem;
    height: 1.125rem;
}

.heart {
    width: 1.125rem;
}

.dog {
    width: 1.25rem;
}

.info__icon {
    width: 0.3125rem;
    height: 0.75rem;
}

.star, .star-o {
    display: inline-block;
    margin: 0 -0.1875rem;
    padding: 0;
    width: 0.9375rem;
    height: 0.6875rem;
}

.chart {
    margin-top: 0.375rem;
    height: 1.3rem;
}

.pop-1, .pop-2, .pop-3 {
    width: 5.375rem;
    height: 8.3125rem;
}

#rooms figure img {
    width: 20.8125rem;
    height: 7rem;
}
/* ---- end placeholder img & icons width & height ---- */

/* ---- header ---- */
.header__topbar {
    margin: 28px 18px 20px;
    display: flex;
    justify-content: space-between;
}

.nav__subscription {
    margin-top: 0.8rem;
    font-weight: 800;
    color: #0065fc;
}

nav {
    display: flex;
}

nav a {
    text-align: center;
    width: 50vw;
    padding-bottom: 0.5rem;
    font-weight: 500;
    border-bottom: 3px solid #efeff0;
}

nav a:hover {
    border-bottom-color: #0065fc;
    color: #0065fc;
}

.lg {
    display: none;
}

.header__title {
    margin: 14px 0;
    padding: 18px;
}

.header__title h1 {
    margin-bottom: 15px;
}
/* ---- end header ---- */

/* search__section */
.search__section {
    padding: 0 18px;
}

    /* search__bar */
    form {
        flex-direction: row;
        justify-content: space-between;
        width: 20.9375rem;
        max-width: 26.25rem;
        height: 3.375rem;
        /* margin-top: 1rem; */
        background: white;
        border: solid 0.125rem #f2f2f2;
        border-radius: 1.25rem;
    }

    form img {
        min-width: 3.125rem;
    }

    form input {
        width: 12.1875rem;
        font-size: 1.125rem;
        font-weight: bold;
        border: none;
        opacity: .8;
    }

    .search__btn {
        min-height: 3.125rem;
        min-width: 8.125rem;
        margin: 0;
        padding: 0;
        color: white;
        background: #0065fc;
        border-radius: 0 1.125rem 1.125rem 0;
    }

    .btn.sm, form span {
        min-height: 3.125rem;
        min-width: 3.125rem;
        background: #f2f2f2;
        border-radius: 1.125rem 0 0 1.125rem;
    }

    .btn.sm {
        display: flex;
        background: #0065fc;
        border-radius: 1.125rem;
        cursor: pointer;
    }

    #search__input {
        width: 62%;
    }

    ::placeholder {
        font-style: italic;
        opacity: .4;
    }

    #search__input:focus-visible::placeholder {
        visibility: hidden;
        opacity: 0;
        transition: 0.2s ease-in-out;
    }

    #search__input:focus-visible {
        outline: none;
        background: #deebff;
    }
        
    #search__input:focus-within {
        box-shadow: 0 0 0 4px #deebff;
    }
    /* end search__bar */

    /* ---- filter ---- */
    .search__filter {
        margin: 0.625rem 0 0;
    }

    .search__filter, .search__filter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .search__filter h3 {
        margin: 0;
        padding: 0;
        margin-top: 1.25rem;
        margin-bottom: 0.75rem;
        font-size: 1.125rem;
    }

    .search__filter ul {
        margin: 0;
    }

    .search__filter li {
        margin-right: 0.625rem;
        margin-bottom: 0.625rem;
    }

    .search__filter button {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 1rem 0 0;
        font-weight: bold;
        border: solid 0.1875rem #f2f2f2;
        border-radius: 1.75rem;
    }

    .search__filter a {
        color: black;
    }
    
    .search__filter span {
        min-width: 2.97rem;
    }
    /* ---- end filter ---- */

    /* ---- search bar icons circle ---- */
    .search__filter span,
    .info__icon__container {
        max-width: 100%;
        margin: 0 0.875rem 0 0;
        border-radius: 50%;
    }

    .search__filter span {
        min-width: 2.75rem;
        margin: 0 0.625rem 0 0;
        background: #deebff;
    }

    .info__icon__container {
        min-width: 1.7rem;
        border: 0.125rem solid hsl(240, 4%, 94%);
    }

    .search__filter span::after, .info__icon__container::after {
        content: '';
        padding-bottom: 100%;
    }
    /* ---- end search bar icons circle ---- */
    
    /* ---- hover ---- */
    .search__filter button:hover {
        background: white;
        border-color: white;
        box-shadow: 0 0.25rem 0.9375rem -0.1875rem rgba(0, 0, 0, 0.1), 0 0.25rem 0.375rem -0.125rem rgba(0, 0, 0, 0.025);
    }
    
    .search__filter button:hover {
        color: #0065fc;
        opacity: 1;
        transform: scale(1.01);
        transition: all .3s cubic-bezier(.25, .45, .45, .95);
    }
    /* end hover */
/* end search__section */

/* result__section */
.result__section {
    padding: 18px;
}
    /* ---- result__info ---- */
    .result__info {
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 0;
        font-size: 1.125rem;
    }

    .info__icon__container {
        flex-direction: row;
        margin-bottom: 1.875rem;
    }

    .info__icon {
        height: 0.75rem;
    }

    .result__info p {
        width: 78.2vw;
        font-size: 1rem;
        letter-spacing: -0.005rem;
    }
    /* -- end result__info -- */
    
/* end result__section */
.result__rooms__and__popular__container, .result__activity__section, footer {
    display: none;
}

/* ---- mobile landscape ------------------------------------------- */
@media (min-width:568px) {
    main {
        max-width: 1440px;
        padding:  3.473%;
    }

    .sm, .btn.sm {
        display: none;
    }

    .lg, .btn.lg {
        display: inline;
    }

    /* ---- header ---- */
    .header {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    .header__topbar {
        margin: 0;
    }

    .header__navbar {
        display: flex;
    }

    nav {
        display: block;
        height: auto;
    }

    nav a {
        display: inline;
        text-align: center;
        padding: 3.44vw 31px 0;
        border-bottom: hidden;
        border-top: 3px solid #efeff0;
    }

    nav a:hover {
        border-color: #0065fc;
    }

    .nav__subscription.lg {
        margin: 0 0 0 31px;
    }

    .header__title {
        margin: 18px 0 0;
        padding: 18px 0 15px 0;
    }

    .header__title h1 {
        margin-bottom: 3px;
    }
    /* ---- end header ---- */

    /* search__section */
    .search__section {
        padding: 0;
    }

    form {
        width: auto;
    }

    #search__input {
        width: 50%;
    }

    .search__btn {
        margin: 0;
        padding: 0;
        color: white;
        background: #0065fc;
        min-height: 50px;
        min-width: 130px;
        border-radius: 0 18px 18px 0;
    }
    /* end search__section */

    /* ---- filter ---- */    
    .search__filter li {
        margin-bottom: auto;
    }

    .search__filter {
        margin-left: 8px;
    }
    
    .search__filter,
    .search__filter ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .search__filter h3 {
        margin: 0 4px 0 0;
        font-size: 1.125rem;
    }

    .search__filter ul {
        margin: 0 0.625rem;
    }

    .search__filter span {
        margin: 0 24px 0 0;
    }

    .search__filter button {
        border: solid 0.1875rem #f2f2f2;
        border-radius: 1.75rem;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 24px 0 0;
        font-weight: bold;
        margin: 16px 6px;
    }
    /* ---- end filter ---- */

    .result__section {
        padding: 16px 0;
    }
}